.container {
  margin-top: '40px';
}

.method-details-table {
  margin-top: 40px;
}

.calculator-form {
  margin-top: 50px;
  padding: 40px;
  padding-bottom: 20px;
  background-color: #d8e2ef;
}

.calculator-form  .form-group {
  max-width: 600px;
}

.results {
  background-color: papayawhip;
  padding: 40px;
  font-size: 20px;
}

