.container {
  margin-top: '40px';
}

.method-details-table {
  margin-top: 40px;
}

.calculator-form {
  margin-top: 50px;
  padding: 40px;
  padding-bottom: 20px;
  background-color: #d8e2ef;
}

.calculator-form  .form-group {
  max-width: 600px;
}

.results {
  background-color: papayawhip;
  padding: 40px;
  font-size: 20px;
}

.results-summary {
  width: 50%;
  float: left;
}

.results-math {
  padding: 25px;
  background: white;
  width: 50%;
  float: left;
  font-family: courier new;
}

.math-left-col {
  display: inline-block;
  width: 200px;
  text-align: right;
}

.math-right-col {
  display: inline-block;
  width: 110px;
  text-align: right;
}

.inline-block {
  display: inline-block;
}

.math-fee {
}

.math-sale {
  color: #39ad39;
  margin-bottom: 5px;
}

.math-fee-percent {
  color: red;
}

.math-after-percent-fee {
  margin-bottom: 5px;
}

.math-fee-flat {
  color: red;
}

.math-after-fee {
}
