.top-header {
  margin-top: 30px;
}
.footer {
  padding: 20px;
  color: #aaa;
}
.footer a {
  color: #aaa;
}
.method-details-table {
  margin-top: 40px;
}

.inputs-form {
  margin-top: 30px;
  padding: 40px;
  padding-bottom: 20px;
  background-color: #d8e2ef;
}

.inputs-form  .form-group {
  max-width: 600px;
}

.results {
  background-color: papayawhip;
  margin-right: 0;
  margin-left: 0;
  padding: 40px;
}

.results-summary {
  margin-bottom: 20px;
}

.fee-line {
  color: red;
}

.results-math {
  background: white;
  font-family: courier new;
}

.math-sale {
  color: #39ad39;
}

.math-fee {
  color: red;
}

.results-math-table td:nth-child(1) {
  text-align: right;
  color: #636c72;
  font-size: 12px;
}

.results-math-table td:nth-child(2) {
  text-align: right;
}

.results-math-table td:nth-child(3) {
  text-align: right;
}

.results-math-table td, .results-math-table th {
  border: none;
}
